# Important files
secure.yml
config.yml
# It's secret :P
secret.py

# WIP Cogs that aren't public
cogs/utils.py
cogs/testing.py
cogs/DGC.py
cogs/samplecog.py
cogs/collection.py
cogs/vcinjects.py

# Random stuff that nobody wants
logs/
utils/
random_files/
utils/boxarts
utils/romhacks_files
tmp_compile/

# Dunno what it is but ehhh fuck this
*/__pycache__

# Just in case
**.pyc

